<div>

    <h2 translate="windoctorApp.prescription_medication.home.title">Prescription_medications</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="prescription_medication.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="windoctorApp.prescription_medication.home.createLabel">Create a new Prescription_medication</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Prescription_medication</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePrescription_medicationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(prescription_medication.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="windoctorApp.prescription_medication.delete.question" translate-values="{id: '{{prescription_medication.id}}'}">Are you sure you want to delete this Prescription_medication?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="windoctorApp.prescription_medication.medication_name">Medication_name</th>
                    <th translate="windoctorApp.prescription_medication.man_description">Man_description</th>
                    <th translate="windoctorApp.prescription_medication.woman_description">Woman_description</th>
                    <th translate="windoctorApp.prescription_medication.child_description">Child_description</th>
                    <th translate="windoctorApp.prescription_medication.prescription_medication_r">prescription_medication_r</th>
                    <th translate="windoctorApp.prescription_medication.medication_prescription_r">medication_prescription_r</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prescription_medication in prescription_medications">
                    <td><a ui-sref="prescription_medication.detail({id:prescription_medication.id})">{{prescription_medication.id}}</a></td>
                    <td>{{prescription_medication.medication_name}}</td>
                    <td>{{prescription_medication.man_description}}</td>
                    <td>{{prescription_medication.woman_description}}</td>
                    <td>{{prescription_medication.child_description}}</td>
                    <td>
                        <a ui-sref="prescription.detail({id:prescription_medication.prescription_medication_r.id})">{{prescription_medication.prescription_medication_r.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="medication.detail({id:prescription_medication.medication_prescription_r.id})">{{prescription_medication.medication_prescription_r.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="prescription_medication.detail({id:prescription_medication.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="prescription_medication.edit({id:prescription_medication.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(prescription_medication.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
