<div ng-show="displayEventsPage">
    <div style="padding: 15px;padding-top:0px;padding-bottom:0px;">
        <div >
            <div class="row">
                <div class="form-group col-xs-6 col-md-4">
                    <button type="button"
                            onclick="window.history.back()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                    </button>
                </div>
                <div class="form-group col-xs-6 col-md-4">
                </div>
                <div class="form-group col-xs-6 col-md-4">
                    <button type="button"
                            ng-click="loadAll()"
                            class="btn btn-info">
                        <span class="fa fa-refresh"></span>&nbsp;<span translate="entity.action.refresh"> Refresh</span>
                    </button>
                </div>
            </div>
            <form name="editForm" role="form" novalidate show-validation>
                <h2 translate="windoctorApp.calendar.home.dayEventsTitle"
                    translate-values="{day: '{{ selectedDateObject | date:'dd/MM/yyyy'}}'}">Appointments and
                    visits for day</h2>
                <jh-alert></jh-alert>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" ng-click="addEvent(1)"
                                    ng-show="userNotPatient">
                                <span class="fa fa-plus"></span> <span
                                translate="windoctorApp.calendar.home.createAppointmentLabel">Create a new appointment</span>
                            </button>
                            <button class="btn btn-warning" ng-click="addEvent(7)" ng-show="userCanAddRequest">
                                <span class="fa fa-plus"></span> <span
                                translate="windoctorApp.calendar.home.createRequestLabel">Create a new request</span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" ng-click="addEvent(8)"
                                    ng-show="userNotPatient">
                                <span class="fa fa-plus"></span> <span
                                    translate="windoctorApp.calendar.home.createVisitLabel">Create a new Visit</span>
                            </button>
                        </div>
                        <div class="col-md-8" ng-show="!eventsEmpty">
                            <form name="searchForm" class="form-inline">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="searchQuery"
                                                       id="searchQuery"
                                                       placeholder="{{ 'global.wordToSearch' | translate }}">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="padding: 20px;padding-bottom: 35px">
                                                <button class="btn btn-info" ng-click="search()"><span
                                                    class="glyphicon glyphicon-search"></span>
                                                    <span translate="entity.action.search">Search</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" ng-show="!eventsEmpty">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="windoctorApp.calendar.type">Type</th>
                            <th translate="windoctorApp.calendar.patient">Patient</th>
                            <th translate="windoctorApp.calendar.event_date">Event_date</th>
                            <th translate="windoctorApp.calendar.description">Description</th>
                            <th ng-show="userNotPatient"
                                translate="windoctorApp.calendar.treatments">treatments</th>
                            <th translate="windoctorApp.calendar.eventStatus">eventStatus</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in events">
                            <div>
                                <td style="background-color: dodgerblue;color: white;"
                                    ng-show="event.eventStatus.id===1">
                                    <span translate="windoctorApp.calendar.appointment.title">Appointment</span>
                                </td>
                                <td style="background-color: #800080;color: white;"
                                    ng-show="event.eventStatus.id===2||event.eventStatus.id===10||event.eventStatus.id===11">
                                    <span translate="windoctorApp.calendar.appointment.title">Appointment</span>
                                </td>
                                <td style="background-color: darkgreen;color: white;"
                                    ng-show="event.eventStatus.id===3">
                                    <span translate="windoctorApp.calendar.appointment.title">Appointment</span>
                                </td>
                                <td style="background-color: #ad2121;color: white;"
                                    ng-show="event.eventStatus.id===4">
                                    <span translate="windoctorApp.calendar.appointment.title">Appointment</span>
                                </td>
                                <td style="background-color: rgb(255, 170, 4);color: white;"
                                    ng-show="event.eventStatus.id===7">
                                    <span translate="windoctorApp.calendar.request.title">Request</span>
                                </td>
                                <td style="background-color: darkgreen;;color: white;"
                                    ng-show="event.eventStatus.id===8">
                                    <span translate="windoctorApp.calendar.visit.title">Visite</span>
                                </td>
                            </div>
                            <td><span
                                ng-show="(!account.currentUserPatient) || (account.currentUserPatient && account.id===event.user.id)">
                                        <img data-ng-src="{{'data:image/*;base64,' + event.user.picture}}"
                                             style="max-width: 25%;max-height: 28%;" ng-if="event.user.picture"
                                             class="img-circle"/>
                                        <strong>{{event.user.firstName}} {{event.user.lastName}}</strong>
                                </span>
                                <span ng-show="account.currentUserPatient && account.id!==event.user.id"
                                      translate="windoctorApp.calendar.anonymous">Anonymous</span>
                            </td>
                            <td>
                                {{event.event_date | date:'HH:mm' : '+0000'}}
                                <span translate="global.to">to</span>
                                {{event.event_date_end | date:'HH:mm' : '+0000'}}
                            </td>
                            <td>
                                <span ng-show="event.description.length > 10"
                                      data-toggle="tooltip"
                                      tooltip="{{ event.description }}"
                                      tooltip-placement="bottom-right">
                                    {{ event.description | limitTo: 10 }}{{event.description.length > 10 ? '...' : ''}}
                                </span>
                                <span ng-show="event.description.length <= 10">
                                    {{ event.description | limitTo: 10 }}{{event.description.length > 10 ? '...' : ''}}
                                </span>
                            </td>
                            <td ng-show="!account.currentUserPatient"><a ng-click="displayManageTreatmentsPage(event)"
                                   translate="windoctorApp.calendar.manageTreatments">Manage treatments</a>
                            </td>
                            <div>
                                <td style="background-color: #adadad;color: white;"
                                    ng-show="event.eventStatus.id===8">
                                    <span></span>
                                </td>
                                <td style="background-color: #adadad;color: white;"
                                    ng-show="event.eventStatus.id===7">
                                    <span></span>
                                    <a ng-show="!account.currentUserPatient" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.accept' | translate }}"
                                       tooltip-class="acceptClass"
                                       tooltip-placement="bottom-left"
                                       ng-click="accept(event)"
                                       class="btn btn-success glyphicon glyphicon-thumbs-up">
                                    </a>
                                    <a ng-show="!account.currentUserPatient" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.reject' | translate }}"
                                       tooltip-class="rejectClass"
                                       tooltip-placement="bottom-left"
                                       ng-click="reject(event)"
                                       class="btn btn-danger glyphicon glyphicon-thumbs-down">
                                    </a>
                                </td>
                                <td style="background-color: dodgerblue;color: white;"
                                    ng-show="event.eventStatus.id===1">
                                    <span translate="windoctorApp.calendar.inProgress">In progress</span>
                                    <a ng-show="!account.currentUserPatient" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.annul' | translate }}"
                                       tooltip-class="annulClass"
                                       tooltip-placement="bottom-left"
                                       ng-click="annul(event)"
                                       class="btn btn-danger btn-sm red-tooltip">
                                        <span class="glyphicon glyphicon-off"></span>&nbsp;<span
                                        > </span>
                                    </a>
                                    <a ng-show="account.currentUserPatient && account.id===event.user.id" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.annul' | translate }}"
                                       tooltip-class="annulClass"
                                       tooltip-placement="bottom-left"
                                       ng-click="annulByPatient(event)"
                                       class="btn btn-danger btn-sm red-tooltip">
                                        <span class="glyphicon glyphicon-off"></span>&nbsp;<span
                                        > </span>
                                    </a>
                                </td>
                                <td style="background-color: #800080;color: white;"
                                    ng-show="event.eventStatus.id===2">
                                    <span translate="windoctorApp.calendar.annulled">Annuled</span>
                                </td>
                                <td style="background-color: darkgreen;color: white;"
                                    ng-show="event.eventStatus.id===3">
                                    <span translate="windoctorApp.calendar.realized">Realized</span>
                                </td>
                                <td style="background-color: #ad2121;color: white;"
                                    ng-show="event.eventStatus.id===4">
                                    <span translate="windoctorApp.calendar.abandoned">Abandoned</span>
                                </td>
                                <td style="background-color: #800080;color: white;"
                                    ng-show="event.eventStatus.id===10 || event.eventStatus.id===11">
                                    <span translate="windoctorApp.calendar.annulledByPatient">Annuled by patient</span>
                                </td>
                            </div>
                            <td>
                                <button ng-click="editEvent(event)"
                                        ng-disabled="account.currentUserPatient && (account.id!==event.user.id || (account.id===event.user.id && event.eventStatus.id!==7))"
                                        data-toggle="tooltip"
                                        tooltip="{{ 'entity.action.edit' | translate }}"
                                        tooltip-class="pencilClass"
                                        tooltip-placement="bottom-left"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                    > </span>
                                </button>
                                <button type="submit" ng-show="!account.currentUserPatient && event.eventStatus.id!==8 && event.eventStatus.id!==3"
                                        ng-click="delete(event)"
                                        data-toggle="tooltip"
                                        tooltip="{{ 'entity.action.delete' | translate }}"
                                        tooltip-class="deleteClass"
                                        tooltip-placement="bottom-left"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                                    > </span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination" ng-show="links['prev'] || links['next']">
                            <li ng-show="links['first']" ng-click="loadPageEvents(links['first'])"><a>&lt;&lt;</a></li>
                            <li ng-show="links['prev']" ng-click="loadPageEvents(links['prev'])"><a>&lt;</a></li>
                            <li ng-show="page > 2" ng-click="loadPageEvents(page - 2)"><a>{{page - 2}}</a></li>
                            <li ng-show="page > 1" ng-click="loadPageEvents(page - 1)"><a>{{page - 1}}</a></li>
                            <li class="active"><a>{{page}}</a></li>
                            <li ng-show="page < links['last']" ng-click="loadPageEvents(page + 1)"><a>{{page + 1}}</a></li>
                            <li ng-show="page < links['last'] - 1" ng-click="loadPageEvents(page + 2)"><a>{{page + 2}}</a>
                            </li>
                            <li ng-show="links['next']" ng-click="loadPageEvents(links['next'])"><a>&gt;</a></li>
                            <li ng-show="links['last']" ng-click="loadPageEvents(links['last'])"><a>&gt;&gt;</a></li>
                        </ul>
                    </nav>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteEventConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(event.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <span>{{messageToDeleted}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDelete()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="displayDialogEventPage">
    <ng-include src="'scripts/app/entities/calendar/calendar-dialog.html'"></ng-include>
</div>
<div ng-show="displayTreatmentsPage">
    <ng-include src="'scripts/app/entities/calendar/calendar-treatments.html'"></ng-include>
</div>
