<div>
    <div style="padding: 15px;padding-top:0px;padding-bottom:0px;">
        <div class="panel panel-empty">
            <form name="editForm" role="form" novalidate show-validation>
                <h2 translate="windoctorApp.calendar.home.title">Events</h2>
                <jh-alert></jh-alert>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" ng-click="cancelEventRows()"
                                    ng-show="!account.currentUserPatient"
                                    ui-sref="calendar.newEventAppointment({selectedDate:selectedDate})">
                                <span class="glyphicon glyphicon-flash"></span> <span
                                translate="windoctorApp.calendar.home.createAppointmentLabel">Create a new Event</span>
                            </button>
                            <button class="btn btn-warning" ng-click="cancelEventRows()" ng-show="userCanAddRequest"
                                    ui-sref="calendar.newEventRequest({selectedDate:selectedDate})">
                                <span class="glyphicon glyphicon-flash"></span> <span
                                translate="windoctorApp.calendar.home.createRequestLabel">Create a new request</span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" ng-click="cancelEventRows()"
                                    ng-show="!account.currentUserPatient"
                                    ui-sref="calendar.newEventVisit({selectedDate:selectedDate})">
                                <span class="glyphicon glyphicon-flash"></span> <span
                                translate="windoctorApp.calendar.home.createVisitLabel">Create a new Visit</span>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <form name="searchForm" class="form-inline">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="searchQuery"
                                                       id="searchQuery"
                                                       placeholder="query">
                                            </div>
                                        </td>
                                        <td>
                                            <div style="padding: 20px;padding-bottom: 35px">
                                                <button class="btn btn-info" ng-click="search()"><span
                                                    class="glyphicon glyphicon-search"></span>
                                                    <span>Search a   Event</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="windoctorApp.calendar.type">Type</th>
                            <th translate="windoctorApp.calendar.patient">Patient</th>
                            <th translate="windoctorApp.calendar.event_date">Event_date</th>
                            <th translate="windoctorApp.calendar.description">Description</th>
                            <th translate="windoctorApp.calendar.treatments">treatments</th>
                            <th translate="windoctorApp.calendar.eventReason">eventReason</th>
                            <th translate="windoctorApp.calendar.eventStatus">eventStatus</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in events">
                            <div>
                                <td style="background-color: dodgerblue;color: white;"
                                    ng-show="event.eventStatus.id===1">
                                    <span translate="windoctorApp.calendar.appointment">Appointment</span>
                                </td>
                                <td style="background-color: #800080;color: white;"
                                    ng-show="event.eventStatus.id===2">
                                    <span translate="windoctorApp.calendar.appointment">Appointment</span>
                                </td>
                                <td style="background-color: darkgreen;color: white;"
                                    ng-show="event.eventStatus.id===3">
                                    <span translate="windoctorApp.calendar.appointment">Appointment</span>
                                </td>
                                <td style="background-color: #ad2121;color: white;"
                                    ng-show="event.eventStatus.id===4">
                                    <span translate="windoctorApp.calendar.appointment">Appointment</span>
                                </td>
                                <td style="background-color: rgb(255, 170, 4);color: white;"
                                    ng-show="event.eventStatus.id===7">
                                    <span translate="windoctorApp.calendar.request">Request</span>
                                </td>
                                <td style="background-color: darkgreen;;color: white;"
                                    ng-show="event.eventStatus.id===8">
                                    <span translate="windoctorApp.calendar.visit">Visite</span>
                                </td>
                            </div>
                            <td><span ng-show="(!account.currentUserPatient) || (account.currentUserPatient && account.id===event.user.id)">
                                {{event.user.firstName}} {{event.user.lastName}}
                                </span>
                                <span ng-show="account.currentUserPatient && account.id!==event.user.id" translate="windoctorApp.calendar.anonymous">Anonymous</span>
                            </td>
                            <td>{{event.event_date | date:'HH:mm' : '+0000'}}</td>
                            <td>{{event.description}}</td>
                            <td><a ng-click="cancelEventRows()"
                                   ui-sref="calendar.treatment({eventId:event.id,selectedDate:event.event_date})"
                                   translate="windoctorApp.calendar.manageTreatments">Manage treatments</a></td>
                            <td>
                                <span>{{event.eventReason.description}}</span>
                            </td>
                            <div>
                                <td style="background-color: #adadad;color: white;"
                                    ng-show="event.eventStatus.id===8">
                                    <span></span>
                                </td>
                                <td style="background-color: #adadad;color: white;"
                                    ng-show="event.eventStatus.id===7">
                                    <span></span>
                                    <a ng-show="!account.currentUserPatient" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.accept' | translate }}"
                                       tooltip-class="acceptClass"
                                       tooltip-placement="bottom-left"
                                       ng-click="accept(event)"
                                       class="btn btn-success glyphicon glyphicon-thumbs-up">
                                    </a>
                                    <a ng-show="!account.currentUserPatient" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.reject' | translate }}"
                                       tooltip-class="rejectClass"
                                       tooltip-placement="bottom-left"
                                       ng-click="reject(event)"
                                       class="btn btn-danger glyphicon glyphicon-thumbs-down">
                                    </a>
                                </td>
                                <td style="background-color: dodgerblue;color: white;"
                                    ng-show="event.eventStatus.id===1">
                                    <span translate="windoctorApp.calendar.inProgress">In progress</span>
                                    <a ng-show="!account.currentUserPatient" data-toggle="tooltip"
                                       tooltip="{{ 'windoctorApp.calendar.annul' | translate }}"
                                       tooltip-class="annulClass"
                                       tooltip-placement="bottom-left"
                                            ng-click="annul(event)"
                                            class="btn btn-danger btn-sm red-tooltip">
                                        <span class="glyphicon glyphicon-off"></span>&nbsp;<span
                                        > </span>
                                    </a>
                                </td>
                                <td style="background-color: #800080;color: white;"
                                    ng-show="event.eventStatus.id===2">
                                    <span translate="windoctorApp.calendar.annulled">Annuled</span>
                                </td>
                                <td style="background-color: darkgreen;color: white;"
                                    ng-show="event.eventStatus.id===3">
                                    <span translate="windoctorApp.calendar.realized">Realized</span>
                                </td>
                                <td style="background-color: #ad2121;color: white;"
                                    ng-show="event.eventStatus.id===4">
                                    <span translate="windoctorApp.calendar.abandoned">Abandoned</span>
                                </td>
                            </div>
                            <td>
                                <button type="submit" ng-click="cancelEventRows()"
                                        ng-disabled="account.currentUserPatient && (account.id!==event.user.id || (account.id===event.user.id && event.eventStatus.id!==7))"
                                        ui-sref="calendar.edit({id:event.id,selectedDate:selectedDate})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                                   > </span>
                                </button>
                                <button type="submit" ng-show="!account.currentUserPatient"
                                        ng-click="delete(event.id)"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp;<span
                                    > </span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                            <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                            <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                            <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                            <li class="active"><a>{{page}}</a></li>
                            <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                            <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a>
                            </li>
                            <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                            <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEventRows()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteEventConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(event.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="windoctorApp.calendar.delete.question"
                       translate-values="{id: '{{event.id}}'}">Are you sure you want to delete this Event?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDelete()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
