<div>
    <div>
        <div style="padding: 15px;padding-top:0px;padding-bottom:0px;">
            <div class="row">
                <div class="form-group col-md-2">
                    <button type="button"
                            ng-click="returnToEventsPage()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                        translate="entity.action.back"> Back</span>
                    </button>
                </div>
                <div class="form-group col-md-2">
                    <button type="button"
                            ng-click="refreshAll()"
                            class="btn btn-info">
                        <span class="fa fa-refresh"></span>&nbsp;<span translate="entity.action.refresh"> Refresh</span>
                    </button>
                </div>
                <div class="form-group col-md-8">
                    <h2 translate="windoctorApp.treatment.home.title" ng-show="event!==null && event.id!==null"
                        translate-values="{date: '{{ event.event_date | date:'EEEE, MMMM d, y HH:mm' }}'}">Acts at
                        date </h2>
                </div>
            </div>
            <form name="editForm2" id="displayTreatmentFormId" role="form"
                  show-validation>
                <jh-alert></jh-alert>
                <ng-include src="'scripts/app/entities/calendar/calendar-treatments-patient.html'"></ng-include>

                <div>
                    <ul class="nav nav-tabs">
                        <li ng-class="{active : displayActsTab}">
                            <a data-toggle="tab" data-target="#alltabs" ng-click="clickOnActs()">
                                <h4 translate="windoctorApp.treatment.home.acts">Actes</h4>
                            </a>
                        </li>
                        <li ng-class="{active : displayPlanTab}" ng-show="true">
                            <a data-toggle="tab" data-target="#alltabs" ng-click="clickOnPlan()">
                                <h4 translate="windoctorApp.treatment.home.plan">Plan</h4>
                            </a>
                        </li>
                        <li ng-class="{active : displayArchivesTab}" ng-show="true">
                            <a data-toggle="tab" data-target="#alltabs" ng-click="clickOnArchives()">
                                <h4 translate="windoctorApp.treatment.home.archives">Archives</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="alltabs" class="tab-pane fade in active">
                            <div ng-show="!displayArchivesTab" class="row" style="padding-top: 10px">
                                <div ng-class="displayPlanTab===true ? 'form-group col-xs-6 col-md-2' : 'form-group col-xs-6 col-md-3'">
                                    <button class="btn btn-primary"
                                            ng-click="displayAllPatientTreatmentsFunction()"
                                            ng-show="displayActsTab">
                                        <span class="glyphicon glyphicon-eye-open"></span> <span
                                        translate="windoctorApp.treatment.home.displayAllPatientTreatments">All acts</span>
                                    </button>
                                    <button class="btn btn-primary"
                                            ng-click="displayAllPatientTreatmentsFunction()"
                                            ng-show="displayPlanTab">
                                        <span class="glyphicon glyphicon-eye-open"></span> <span
                                        translate="windoctorApp.treatment.home.plan">Plan</span>
                                    </button>
                                </div>
                                <div ng-class="displayPlanTab===true ? 'form-group col-xs-6 col-md-2' : 'form-group col-xs-6 col-md-3'">
                                    <button class="btn btn-primary"
                                            ng-click="displayPatientTreatmentsEventFunction()"
                                            ng-show="event!==null && event.id!==null && displayActsTab">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    <span ng-show="event.eventStatus.id===8"
                                          translate="windoctorApp.treatment.home.displayPatientTreatmentsVisit">Current acts</span>
                                    <span ng-show="event.eventStatus.id!==8"
                                          translate="windoctorApp.treatment.home.displayPatientTreatmentsAppointment">Current acts</span>
                                    </button>
                                    <button class="btn btn-primary"
                                            ng-click="archiveCurrentPlan()"
                                            ng-show="event!==null && displayPlanTab">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span translate="windoctorApp.treatment.home.archive">Archive</span>
                                    </button>
                                </div>
                                <div ng-class="displayPlanTab===true ? 'form-group col-xs-6 col-md-2' : 'form-group col-xs-6 col-md-3'">
                                    <button class="btn btn-primary" ng-click="addNewTreatment()"
                                            ng-show="event!==null && event.id!==null && displayActsTab">
                                        <span class="fa fa-plus"></span> <span
                                        translate="windoctorApp.treatment.home.createLabel">Create a new Treatment</span>
                                    </button>
                                    <button class="btn btn-primary" ng-click="addNewTreatment()"
                                            ng-show="event!==null && event.id!==null && displayPlanTab">
                                        <span class="fa fa-plus"></span> <span
                                        translate="windoctorApp.treatment.home.createLabelPlan">Create act for the plan</span>
                                    </button>
                                </div>
                                <div ng-class="(displayPlanTab===true && treatmentsPlanAll!==null
                                         && treatmentsPlanAll!==undefined && treatmentsPlanAll.length>1)? '' : ''"
                                         ng-show="displayPlanTab && treatmentsPlanAll!==null
                                         && treatmentsPlanAll!==undefined && treatmentsPlanAll.length>1">
                                        <div class="input-group">
                                            <div class="input-group-btn form-group col-xs-6 col-md-2">
                                                <a target="_blank"
                                                   href="../windoctor/servlet/ServletPdf?planId={{treatmentsPlanAll[1].plan.id}}&livePdf=true"
                                                   class="btn btn-primary center">Devis</a>
                                                <button type="button" class="btn btn-primary dropdown-toggle" ng-click="clearVariablesUsedInPdf()"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input ng-model="checkFields.sendMail"
                                                                       ng-checked="checkFields.sendMail === true"
                                                                    type="checkbox"> <span translate="windoctorApp.treatment.archives.sendMail">Send in mail to patient</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input ng-model="checkFields.savePdf"
                                                                       ng-checked="checkFields.savePdf === true"
                                                                    type="checkbox"> <span translate="windoctorApp.treatment.archives.savePdf">Save a system copy</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li class="center"><a target="_blank"  ng-click="clickOnAdvancedGeneratedPdf()"
                                                                          href="../windoctor/servlet/ServletPdf?planId={{treatmentsPlanAll[1].plan.id}}&livePdf=true&savePdf={{checkFields.savePdf}}&sendMail={{checkFields.sendMail}}"
                                                                          class="btn btn-primary center" ><span translate="entity.action.print">Print</span></a></li>
                                                </ul>
                                            </div>
                                        </div><!-- /.input-group -->
                                    <div class="form-group col-xs-6 col-md-2" ng-show="checkFields.displayCopySystem">
                                        <a target="_blank"
                                           href="../windoctor/servlet/ServletPdf?planId={{treatmentsPlanAll[1].plan.id}}&livePdf=false"
                                           class="btn btn-primary center">
                                            <span translate="windoctorApp.treatment.archives.copySystemEstimation">Copy system of the estimation</span>
                                        </a>
                                    </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div id="archives" ng-class="firstClassTypeStructure" ng-show="displayArchivesTab">
                                    <ng-include
                                        src="'scripts/app/entities/calendar/calendar-treatments-archives.html'"></ng-include>
                                </div>
                                <div ng-class="firstClassTypeStructure" ng-show="!displayArchivesTab">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 ng-show="displayTreatments && displayAllPatientTreatments"
                                                translate="windoctorApp.treatment.home.displayAllPatientTreatments"
                                                class="panel-title"></h3>

                                            <h3 ng-show="displayTreatments && (!displayAllPatientTreatments)"
                                                translate="windoctorApp.treatment.home.displayPatientTreatmentsAppointment"
                                                class="panel-title"></h3>

                                            <h3 ng-show="displayAddEditViewPopup"
                                                translate="windoctorApp.treatment.home.createOrEditLabel"
                                                class="panel-title"></h3>
                                        </div>
                                        <div class="panel-body">
                                            <div ng-show="displayTreatments">
                                                <div class="row" ng-show="false">
                                                    <div class="form-group col-xs-6 col-md-3">
                                                    </div>
                                                    <div class="form-group col-xs-6 col-md-3">
                                                        <input type="text" class="form-control" ng-model="searchQuery"
                                                               id="searchQuery"
                                                               placeholder="{{ 'global.wordToSearch' | translate }}">
                                                    </div>
                                                    <div class="form-group col-xs-6 col-md-3">
                                                        <button class="btn btn-info" ng-click="searchTreatments()"><span
                                                            class="glyphicon glyphicon-search"></span>
                                                            <span translate="entity.action.search">Search</span>
                                                        </button>
                                                    </div>
                                                    <div class="form-group col-xs-6 col-md-3">
                                                    </div>
                                                </div>
                                                <div class="table-responsive"
                                                     ng-show="treatments!==null && treatments!==undefined && treatments.length>0">
                                                    <table class="table table-striped" style="font-size: 14px;">
                                                        <thead>
                                                        <tr>
                                                            <th translate="windoctorApp.treatment.status" ng-show="displayPlanTab">Status
                                                            </th>
                                                            <th translate="windoctorApp.treatment.treatment_date">Date
                                                            </th>
                                                            <th translate="windoctorApp.treatment.description">
                                                                Description
                                                            </th>
                                                            <th translate="windoctorApp.treatment.price">Price</th>
                                                            <th translate="windoctorApp.treatment.paid_price">Paid price
                                                            </th>
                                                            <th translate="windoctorApp.treatment.remainingPrice"
                                                                ng-show="displayActsTab">Remaining price
                                                            </th>
                                                            <th translate="windoctorApp.treatment.eventReason">
                                                                eventReason
                                                            </th>
                                                            <th translate="windoctorApp.treatment.teeth">Teeth</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody ui-sortable="sortableOptions" ng-model="treatments">

                                                        <tr ng-repeat="treatment in treatments">
                                                            <td ng-style="{'color': 'white','background-color': treatment.status.id===1 ? 'dodgerblue' : 'darkgreen'}"
                                                                ng-show="treatment.status!==null && treatment.status!==undefined
                                                                        && (treatment.status.id===1 || treatment.status.id===3) && displayPlanTab">
                                                                <span translate="windoctorApp.treatment.inProgress" ng-show="treatment.status.id===1">In progress</span>
                                                                <span translate="windoctorApp.treatment.executed" ng-show="treatment.status.id===3">Executed</span>
                                                            </td>
                                                            <td ng-show="treatment.id===-1 && displayPlanTab"
                                                                style="background-color: black;;color: white;"></td>
                                                            <td ng-show="treatment.id===-1"
                                                                style="background-color: black;;color: white;"></td>
                                                            <td ng-show="treatment.id!==-1 && treatment.status!==null && treatment.status!==undefined && treatment.status.id===1"
                                                                style="background-color: grey;">
                                                            </td>
                                                            <td ng-show="treatment.id!==-1 && (treatment.status===null || treatment.status===undefined || treatment.status.id!==1)">
                                                                {{treatment.treatment_date | date:'dd/MM/yyyy HH:mm'}}
                                                            </td>
                                                            <td ng-show="treatment.id!==-1">
                                                            <span ng-show="paidPriceTreatment.treatmentIdToExecute===treatment.id"
                                                                   style="color:green">
                                                                <strong translate="windoctorApp.treatment.amountPaidForAct">
                                                                    Enter the amount paid for the act:
                                                                </strong>
                                                            </span>
                                                            <span ng-show="paidPriceTreatment.treatmentIdToExecute!==treatment.id">
                                <span ng-show="treatment.description.length > 10"
                                      data-toggle="tooltip"
                                      tooltip="{{ treatment.description }}"
                                      tooltip-placement="bottom-right">
                                    {{ treatment.description | limitTo: 10 }}{{treatment.description.length > 10 ? '...' : ''}}
                                </span>
                                <span ng-show="treatment.description.length <= 10">
                                    {{ treatment.description | limitTo: 10 }}{{treatment.description.length > 10 ? '...' : ''}}
                                </span>
                                                            </span>
                                                            </td>
                                                            <td ng-show="treatment.id===-1"
                                                                translate="windoctorApp.treatment.total"
                                                                style="background-color: black;;color: white;">Total
                                                            </td>
                                                            <td ng-show="treatment.id!==-1">{{treatment.price}}</td>
                                                            <td ng-show="treatment.id===-1"
                                                                style="background-color: black;;color: white;">
                                                                {{treatment.price}}
                                                            </td>
                                                            <td ng-show="treatment.id!==-1 && treatment.status!==null && treatment.status!==undefined
                                                                && treatment.status.id===1"
                                                                style="background-color: grey;">
                                                                <span ng-show="paidPriceTreatment.treatmentIdToExecute===treatment.id">
                                                                    <input type="number" class="form-control" name="paidPriceExecutedA" id="field_paid_price_plan"
                                                                           ng-change="changePaidPrice()" ng-model="paidPriceTreatment.paidPriceExecuted" >
                                                                    <div >
                                                                        <p class="help-block"  style="color:red"
                                                                           ng-show="paidPriceTreatment.paidPriceErrorNumber===1" translate="entity.validation.required">
                                                                            This field is required.
                                                                        </p>

                                                                        <p class="help-block" style="color:red"
                                                                           ng-show="paidPriceTreatment.paidPriceErrorNumber===2" translate="entity.validation.max"
                                                                           translate-value-max="0">
                                                                            This field should be more than 0.
                                                                        </p>

                                                                        <p class="help-block" style="color:red"
                                                                           ng-show="paidPriceTreatment.paidPriceErrorNumber===3" translate="entity.validation.min"
                                                                           translate-value-min="10000000">
                                                                            This field cannot be more than 10000000.
                                                                        </p>
                                                                    </div>
                                                                </span>
                                                            </td>
                                                            <td ng-show="treatment.id!==-1 && (treatment.status===null || treatment.status===undefined || treatment.status.id!==1)">
                                                                {{treatment.paid_price}}
                                                            </td>
                                                            <td ng-show="treatment.id===-1"
                                                                style="background-color: black;;color: white;">
                                                                {{treatment.paid_price}}
                                                            </td>
                                                            <td style="background-color: darkgreen;;color: white;"
                                                                ng-show="(treatment.price - treatment.paid_price)===0 &&  displayActsTab">
                                                                {{treatment.price - treatment.paid_price}}
                                                            </td>
                                                            <td style="background-color: red;color: white;"
                                                                ng-show="(treatment.price - treatment.paid_price)>0 &&  displayActsTab">
                                                                {{treatment.price - treatment.paid_price}}
                                                            </td>
                                                            <td style="background-color: yellow;color: black;"
                                                                ng-show="(treatment.price - treatment.paid_price)<0 &&  displayActsTab">
                                                                {{treatment.price - treatment.paid_price}}
                                                            </td>
                                                            <td ng-show="treatment.id!==-1">
                                <span ng-show="treatment.eventReason.description.length > 10"
                                      data-toggle="tooltip"
                                      tooltip="{{ treatment.eventReason.description }}"
                                      tooltip-placement="bottom-right">
                                    {{ treatment.eventReason.description | limitTo: 10 }}{{treatment.eventReason.description.length > 10 ? '...' : ''}}
                                </span>
                                <span ng-show="treatment.eventReason.description.length <= 10">
                                    {{ treatment.eventReason.description | limitTo: 10 }}{{treatment.eventReason.description.length > 10 ? '...' : ''}}
                                </span>
                                                            </td>
                                                            <td ng-show="treatment.id!==-1">
                                <span ng-show="treatment.elements.length > 15"
                                      data-toggle="tooltip"
                                      tooltip="{{ treatment.elements }}"
                                      tooltip-placement="bottom-right">
                                    {{ treatment.elements | limitTo: 15 }}{{treatment.elements.length > 15 ? '...' : ''}}
                                </span>
                                <span ng-show="treatment.elements.length <= 15">
                                    {{ treatment.elements | limitTo: 15 }}{{treatment.elements.length > 15 ? '...' : ''}}
                                </span>
                                                            </td>
                                                            <td ng-show="treatment.id===-1"
                                                                style="background-color: black;;color: white;"></td>
                                                            <td ng-show="treatment.id===-1"
                                                                style="background-color: black;;color: white;"></td>
                                                            <td ng-show="treatment.id!==-1">
                                                                <button ng-click="viewTreatmentDetail(treatment)"
                                                                        ng-show="false"
                                                                        data-toggle="tooltip"
                                                                        tooltip="{{ 'entity.action.view' | translate }}"
                                                                        tooltip-class="eyeClass"
                                                                        tooltip-placement="bottom-left"
                                                                        class="btn btn-info btn-sm">
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </button>
                                                                <button ng-click="executeTreatmentInPlan(treatment)"
                                                                        data-toggle="tooltip"
                                                                        ng-show="treatment.status.id===1 && event.id!==null && displayPlanTab
                                                                         && paidPriceTreatment.treatmentIdToExecute!==treatment.id"
                                                                        tooltip="{{ 'entity.action.execute' | translate }}"
                                                                        tooltip-class="acceptClass"
                                                                        tooltip-placement="bottom-left"
                                                                        class="btn btn-success btn-sm">
                                                                    <span class="glyphicon glyphicon-flash"></span>
                                                                </button>
                                                                <button ng-click="editTreatment(treatment)"
                                                                        data-toggle="tooltip"
                                                                        ng-show="(!(treatment.status.id===3 && displayPlanTab))
                                                                         && paidPriceTreatment.treatmentIdToExecute!==treatment.id"
                                                                        tooltip="{{ 'entity.action.edit' | translate }}"
                                                                        tooltip-class="pencilClass"
                                                                        tooltip-placement="bottom-left"
                                                                        class="btn btn-primary btn-sm">
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </button>
                                                                <button ng-click="deleteTreatmentInPlan(treatment)"
                                                                        data-toggle="tooltip"
                                                                        ng-show="treatment.status.id===1 && displayPlanTab
                                                                         && paidPriceTreatment.treatmentIdToExecute!==treatment.id"
                                                                        tooltip="{{ 'entity.action.delete' | translate }}"
                                                                        tooltip-class="deleteClass"
                                                                        tooltip-placement="bottom-left"
                                                                        class="btn btn-danger btn-sm">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                </button>
                                                                <button type="button" ng-click="confirmExecuteTreatmentInPlan(treatment)"
                                                                        ng-show="treatment.status.id===1 && displayPlanTab
                                                                         && paidPriceTreatment.treatmentIdToExecute===treatment.id"
                                                                        ng-disabled="paidPriceTreatment.paidPriceErrorNumber===1 || paidPriceTreatment.paidPriceErrorNumber===2
                                                                         || paidPriceTreatment.paidPriceErrorNumber===3"
                                                                        class="btn btn-success btn-sm">
                                                                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.confirm">Confirm</span>
                                                                </button>
                                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"
                                                                        ng-show="treatment.status.id===1 && displayPlanTab
                                                                         && paidPriceTreatment.treatmentIdToExecute===treatment.id"
                                                                        ng-click="closeExecuteTreatmentInPlan(treatment)">
                                                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                                                    translate="entity.action.close">Close</span>
                                                                </button>
                                                            </td>
                                                            <td ng-show="treatment.id===-1"
                                                                style="background-color: black;;color: white;"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div ng-show="displayAddEditViewPopup">
                                                <ng-include
                                                    src="'scripts/app/entities/calendar/calendar-treatments-dialog.html'"></ng-include>
                                            </div>
                                            <div ng-show="displayAllPatientAttachments">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="tab1primary">Primary 1
                                                    </div>
                                                    <div class="tab-pane fade" id="tab2primary">Primary 2</div>
                                                    <div class="tab-pane fade" id="tab3primary">Primary 3</div>
                                                    <div class="tab-pane fade" id="tab4primary">Primary 4</div>
                                                    <div class="tab-pane fade" id="tab5primary">Primary 5</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="segondClassTypeStructure">
                                    <canvas id="myCanvas" height="380" width="305" ng-click="clickOnCanvas()"
                                            style="margin: 0;padding: 0;">
                                        <span>Your browser does not support the HTML5 canvas tag.</span></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="archivePlanPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="archivePlanPopupForm" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="closeArchiveCurrentPlan()">&times;</button>
                    <h4 class="modal-title" translate="windoctorApp.treatment.archivePopupTitle">Confirm archive plan</h4>
                </div>
                <div class="modal-body">
                    <p translate="windoctorApp.treatment.archivePlanQuestion" ng-show="archiveCurrentPlanFlag">Are you sure you want to archive current Plan ?</p>
                    <p translate="windoctorApp.treatment.archivePlanNotPermitted" ng-show="!archiveCurrentPlanFlag">You can't archive the current Plan because there is no act created for it.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeArchiveCurrentPlan()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="button"  class="btn btn-danger" ng-click="confirmArchiveCurrentPlan()">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.archive">Archive</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
