<form name="editForm" id="editFormId" role="form" novalidate show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="closeAddEditViewPopup()">&times;</button>
        <h4 class="modal-title" id="myTreatmentLabel" translate="windoctorApp.treatment.home.createOrEditLabel">
            Create or edit a Treatment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>


        <div class="row">
            <div ng-class="treatmentDialogFieldClass">
                <label translate="windoctorApp.treatment.eventReason">eventReason</label>
                <ui-select ng-model="treatment.eventReason" theme="select2" class="form-control"
                           ng-change="reasonValueChanged()"
                           ng-show="!displayTreatmentView" name="eventReason"
                           title="{{ 'entity.action.choose' | translate }}" ng-disabled="disabled"
                           style="font-size: 20px"
                    >
                    <ui-select-match placeholder="{{ 'entity.action.select' | translate }}">
                        {{$select.selected.description}}
                    </ui-select-match>
                    <ui-select-choices repeat="event_reason in event_reasons | filter: $select.search">
                        <small ng-bind-html="event_reason.description | highlight: $select.search"></small>
                        <small ng-bind-html="event_reason.price | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
                    <span ng-show="!displayTreatmentView && !addNewEventReason" data-toggle="tooltip"
                          tooltip="{{ 'windoctorApp.treatment.eventReasonADDMessage' | translate }}"
                          tooltip-class="acceptClass"
                          tooltip-placement="bottom-left" ng-click="addNewEventReasonChange()"
                          class="fa fa-plus-circle fa-2x" style="color: green;cursor: pointer; cursor: hand;"></span>
                    <span ng-show="!displayTreatmentView && addNewEventReason" data-toggle="tooltip"
                          tooltip="{{ 'windoctorApp.treatment.eventReasonHideMessage' | translate }}"
                          tooltip-class="annulClass"
                          tooltip-placement="bottom-left" ng-click="addNewEventReasonChange()"
                          class="fa fa-minus-circle fa-2x"
                          style="color: orangered;cursor: pointer; cursor: hand;"></span>
                <span ng-show="displayTreatmentView"
                      class="form-control-static">{{treatment.eventReason.description}}</span>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <div class="row">
                    <div class="col-xs-6">
                        <label translate="windoctorApp.treatment.categoryAct">Category of the act</label>
                    <span ng-show="displayTreatmentView"
                          class="form-control-static">{{treatment.eventReason.categoryAct.name}}</span>

                        <div ng-show="treatment.eventReason && !displayTreatmentView">
                            <span>{{treatment.eventReason.categoryAct.name}}</span></div>
                        <div ng-show="!treatment.eventReason && !displayTreatmentView"><span
                            translate="windoctorApp.treatment.chooseReason">Choose an act</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label translate="windoctorApp.treatment.defaultPrice">Default price</label>
                    <span ng-show="displayTreatmentView"
                          class="form-control-static">{{treatment.eventReason.price}}</span>

                        <div ng-show="treatment.eventReason && !displayTreatmentView">
                            <span>{{treatment.eventReason.price}}</span></div>
                        <div ng-show="!treatment.eventReason && !displayTreatmentView"><span
                            translate="windoctorApp.treatment.chooseReason">Choose a reason</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <label translate="windoctorApp.treatment.price" for="field_price">Price</label>
                <input type="number" class="form-control" name="price" id="field_price"
                       ng-model="treatment.price" ng-show="!displayTreatmentView" ng-change="changeFields()"
                       required min="0" max="10000000">
                <span ng-show="displayTreatmentView" class="form-control-static">{{treatment.price}}</span>

                <div ng-show="editForm.price.$invalid">
                    <p class="help-block"
                       ng-show="editForm.price.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.price.$error.min" translate="entity.validation.min"
                       translate-value-min="0">
                        This field should be more than 0.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.price.$error.max" translate="entity.validation.max"
                       translate-value-max="10000000">
                        This field cannot be more than 10000000.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.price.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-3"  ng-show="displayActsTab">
                <label translate="windoctorApp.treatment.paid_price" for="field_paid_price">Paid_price</label>
                <input type="number" class="form-control" name="paid_price" id="field_paid_price"
                       ng-model="treatment.paid_price" ng-show="!displayTreatmentView" ng-change="changeFields()"
                       required min="0" max="10000000">
                <span ng-show="displayTreatmentView" class="form-control-static">{{treatment.paid_price}}</span>

                <div ng-show="editForm.paid_price.$invalid">
                    <p class="help-block"
                       ng-show="editForm.paid_price.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.paid_price.$error.min" translate="entity.validation.min"
                       translate-value-min="0">
                        This field should be more than 0.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.paid_price.$error.max" translate="entity.validation.max"
                       translate-value-max="10000000">
                        This field cannot be more than 10000000.
                    </p>

                    <p class="help-block"
                       ng-show="editForm.paid_price.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
        </div>
        <div  ng-show="addNewEventReason">
            <div class="row">
                <div class="form-group col-xs-6">
                    <div class="form-group col-xs-6">
                        <label translate="windoctorApp.treatment.eventReasonDescription"
                               for="field_description_event_reason">Description</label>
                        <input type="text" class="form-control" name="description_event_reason"
                               id="field_description_event_reason"
                               ng-model="newEventReason.description"
                               ng-minlength="1" ng-maxlength="200">

                        <div ng-show="editForm.description_event_reason.$invalid">
                            <p class="help-block"
                               ng-show="editForm.description_event_reason.$error.minlength"
                               translate="entity.validation.minlength"
                               translate-value-min="1">
                                This field is required to be at least 1 characters.
                            </p>

                            <p class="help-block"
                               ng-show="editForm.description_event_reason.$error.maxlength"
                               translate="entity.validation.maxlength"
                               translate-value-max="200">
                                This field cannot be longer than 200 characters.
                            </p>
                        </div>
                        <div ng-show="newEventReasonDescNecessary">
                            <p class="help-block" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label translate="windoctorApp.treatment.eventReasonPrice"
                               for="field_price_event_reason">Price</label>
                        <input type="number" class="form-control" name="price_event_reason" id="field_price_event_reason"
                               ng-model="newEventReason.price"
                               min="0" max="10000000">

                        <div ng-show="editForm.price_event_reason.$invalid">
                            <p class="help-block"
                               ng-show="editForm.price_event_reason.$error.min" translate="entity.validation.min"
                               translate-value-min="0">
                                This field should be more than 0.
                            </p>

                            <p class="help-block"
                               ng-show="editForm.price_event_reason.$error.max" translate="entity.validation.max"
                               translate-value-max="10000000">
                                This field cannot be more than 10000000.
                            </p>

                            <p class="help-block"
                               ng-show="editForm.price_event_reason.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <div class="form-group col-xs-6">
                        <label translate="windoctorApp.event_reason.categoryAct">Category of the act</label>
                        <ui-select ng-model="newEventReason.categoryAct" theme="select2" class="form-control"
                                   name="categoryAct"
                                   title="{{ 'entity.action.choose' | translate }}" ng-disabled="disabled"
                            >
                            <ui-select-match placeholder="{{ 'entity.action.select' | translate }}">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="categoryAct in categoryActs | filter: $select.search">
                                <small ng-bind-html="categoryAct.name | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-xs-6">
                        <button type="button" ng-click="saveNewEventReason()" style="margin-top:20px;"
                                ng-disabled="editForm.description_event_reason.$invalid || editForm.price_event_reason.$invalid"
                                class="btn btn-primary">
                            <span class="fa fa-plus fa-1x"></span>&nbsp;<span
                            translate="windoctorApp.treatment.eventReasonAdd">Add act</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-class="treatmentDialogFieldClass">
                <label translate="windoctorApp.treatment.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description" rows="3"
                       ng-model="treatment.description" ng-show="!displayTreatmentView"
                       ng-maxlength="1000"/>
                <span ng-show="displayTreatmentView" class="form-control-static">{{treatment.description}}</span>

                <div ng-show="editForm.description.$invalid">
                    <p class="help-block"
                       ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="1000">
                        This field cannot be longer than 1000 characters.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-3" ng-show="displayActsTab">
                <label translate="windoctorApp.treatment.fund" for="field_fund">Fund</label>
                <select class="form-control" id="field_fund" name="fund" ng-model="treatment.fund"
                        ng-change="changeFields()"
                        ng-options="fund as fund.description for fund in funds track by fund.id" required>
                    <option value=""></option>
                </select>

                <div ng-show="editForm.fund.$invalid">
                    <p class="help-block"
                       ng-show="editForm.fund.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div ng-show="!oldFundContainEnoughMoney">
                    <p class="help-block" translate="windoctorApp.treatment.theAmountOfNewOrOldFundNotEnough">
                        Le prix totale est supérieur à la somme de la caisse.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-3" ng-show="false">
                <label translate="windoctorApp.treatment.fundAmount">Fund amount</label>

                <div>
                    <span ng-show="treatment.fund"
                          class="form-control-static">{{treatment.fund.amount}}</span>
                    <span ng-show="!treatment.fund"
                          translate="windoctorApp.treatment.chooseFund"
                          class="form-control-static">Choose a fund to see this field</span>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <label translate="windoctorApp.treatment.doctor"
                       for="field_doctor">doctor</label>
                <select class="form-control" id="field_doctor" name="doctor"
                        ng-change="valueChanged()" ng-show="!displayTreatmentView"
                        ng-model="treatment.doctor"
                        ng-options="doctor as doctor.firstName +' '+ doctor.lastName for doctor in doctors track by doctor.id">
                    <option value=""></option>
                </select>
                <span ng-show="displayTreatmentView" class="form-control-static">{{treatment.doctor.firstName}} {{treatment.doctor.lastName}}</span>

                <div ng-show="editForm.doctor.$invalid">
                    <p class="help-block"
                       ng-show="editForm.doctor.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <div  ng-class="hideCss">
                    <label translate="windoctorApp.treatment.teeth">Teeth</label>
                    <span ng-show="displayTreatmentView"
                          class="form-control-static">{{temporaryElements}}</span>

                    <div ng-show="temporaryElements && !displayTreatmentView" style="color: red;font-weight: bold;font-size: 16px;">
                        <span class="divider">{{temporaryElements}}</span></div>
                    <div ng-show="!temporaryElements && !displayTreatmentView"><span
                        translate="windoctorApp.treatment.chooseTeeth">Choose teeth</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-class="hideCss">
            <div >
                <div class="form-group col-xs-6 col-md-3" ng-show="treatment.id===null">
                    <label translate="windoctorApp.treatment.createActForEachToothSelected">
                        Create an act for each tooth selected
                    </label>
                    <div>
                        <i class="fa fa-toggle-on inactive" style="font-size:30px;"
                           ng-show="treatment.createTreatmentForEachElement"
                           ng-click="changeCreateActForEachToothSelectedStatus();">
                        </i>
                        <span ng-show="treatment.createTreatmentForEachElement" style="font-size:25px;color: red"translate="global.yes">Yes</span>
                        <i class="fa fa-toggle-on fa-rotate-180 active" style="font-size:30px;"
                           ng-show="!treatment.createTreatmentForEachElement"
                           ng-click="changeCreateActForEachToothSelectedStatus();">
                        </i>
                        <span ng-show="!treatment.createTreatmentForEachElement" style="font-size:25px;color: green"translate="global.no">No</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div ng-show="!treatment.id && displayActsTab" class="alert alert-warning">
                    <span translate="windoctorApp.attachment.message">You must save before manage radios images</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeAddEditViewPopup()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.close">Close</span>
        </button>
        <button type="button" ng-click="saveTreatmentCall()"
                ng-disabled="editForm.$invalid || (!oldFundContainEnoughMoney) || saveTreatmentOnGoing"
                ng-show="!displayTreatmentView"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
        <button type="button" ng-click="saveTreatmentAndClose()" ng-show="!displayTreatmentView"
                ng-disabled="editForm.$invalid || (!oldFundContainEnoughMoney) || saveTreatmentOnGoing"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.saveAndClose">Save and close</span>
        </button>
    </div>
</form>
<ng-include src="'scripts/app/entities/calendar/calendar-treatments-attachments.html'"></ng-include>
