
<div class="container-fluid">

        <div class="row" id="demo">

            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">{{ calendarTitle | translate }}</h2>

                <div class="row">

                    <div class="col-md-6 text-center">
                        <div class="btn-group">

                            <button
                                class="btn btn-primary"
                                mwl-date-modifier
                                date="calendarDay"
                                decrement="calendarView">
                                <span
                                translate="global.previous">Previous</span>

                            </button>
                            <button
                                class="btn btn-default"
                                mwl-date-modifier
                                date="calendarDay"
                                set-to-today>
                                <span
                                    translate="global.today">Today</span>
                            </button>
                            <button
                                class="btn btn-primary"
                                mwl-date-modifier
                                date="calendarDay"
                                increment="calendarView">
                                <span
                                    translate="global.next">Next</span>
                            </button>
                        </div>
                    </div>

                    <br class="visible-xs visible-sm">

                    <div class="col-md-6 text-center">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'"
                                   ><span
                                translate="global.year">Year</span></label>
                            <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'"
                                ><span
                                translate="global.month">Month</span></label>
                            <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'"
                                ><span
                                translate="global.week">Week</span></label>
                        </div>
                    </div>

                </div>

                <br>

                <mwl-calendar
                    events="events"
                    view="calendarView"
                    view-title="calendarTitle"
                    current-day="calendarDay"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    day-width="300"
                    dayColumnDimensions="150"
                    auto-open="false"
                    on-timespan-click="preventDefault();cellClicked(calendarDate,'calendar.rows')"
                    day-view-start="06:00"
                    day-view-end="23:00"
                    day-view-split="15">
                </mwl-calendar>
                <br><br><br>

                <script type="text/ng-template" id="modalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Event action occurred!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Action: <pre>{{ action }}</pre></p>
                        <p>Event: <pre>{{ event | json }}</pre></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="$close()">OK</button>
                    </div>
                </script>

            </div>
        </div>

    </div>

</div>
