<div>

    <jh-alert></jh-alert>

    <div class="table-responsive" style="width:400px;">
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <span ng-repeat="event in events" class="content" href="#">

            <div class="row notification-item" style="width: 100%;color: white;" ng-style="setColor(event)">
                <div class="form-group col-xs-6 col-md-4" style="width:20%;height: 50%">
                    <img data-ng-src="{{'data:image/*;base64,' + event.user.picture}}"
                         style="max-width: 100%;" ng-if="event.user.picture" class="img-circle"/>
                </div>
                <div class="form-group col-xs-6 col-md-4" style="width: 65%;height: 50%">
                    <any translate="global.menu.notification.requestText" ng-show="event.eventStatus.id===7"
                         translate-values="{firstName: '{{event.user.firstName}}',lastName: '{{event.user.lastName}}',
                        event_date: '{{event.event_date | date:'EEEE, MMMM d, y HH:mm' : '+0000'}}',
                        reason: '{{event.eventReason.description}}',description: '{{event.description}}'}">Request
                        description
                    </any>
                    <any translate="global.menu.notification.annulationText" ng-show="event.eventStatus.id===10"
                         translate-values="{firstName: '{{event.user.firstName}}',lastName: '{{event.user.lastName}}',
                        event_date: '{{event.event_date | date:'EEEE, MMMM d, y HH:mm' : '+0000'}}'}">Request
                        description
                    </any>
                </div>
                <div class="form-group col-xs-6 col-md-4" style="width: 15%;height: 50%">
                    <a ng-show="event.eventStatus.id===7" data-toggle="tooltip"
                       tooltip="{{ 'global.menu.notification.accept' | translate }}"
                       tooltip-class="acceptClass"
                       tooltip-placement="left"
                       ng-click="accept(event)"
                       class="btn btn-success glyphicon glyphicon-thumbs-up">
                    </a>
                    <a ng-show="event.eventStatus.id===7" data-toggle="tooltip"
                       tooltip="{{ 'global.menu.notification.reject' | translate }}"
                       tooltip-class="rejectClass"
                       tooltip-placement="left"
                       ng-click="reject(event)"
                       class="btn btn-danger glyphicon glyphicon-thumbs-down">
                    </a>
                    <a ng-show="event.eventStatus.id===10"
                       tooltip="{{ 'global.menu.notification.read' | translate }}"
                       tooltip-class="acceptClass"
                       tooltip-placement="left"
                       ng-click="accept(event)"
                       class="btn btn-success glyphicon glyphicon-thumbs-up">
                    </a>
                </div>
            </div>
            </span>
            </tbody>
    </div>
</div>
