
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPlanLabel" translate="windoctorApp.plan.home.createOrEditLabel">Create or edit a Plan</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="plan.id" readonly>
        </div>

        <div class="form-group">
            <label translate="windoctorApp.plan.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="plan.name"
                    ng-minlength="0" ng-maxlength="100">

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.plan.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="plan.number"
                    required min="1" max="10000000">

            <div ng-show="editForm.number.$invalid">
                <p class="help-block"
                    ng-show="editForm.number.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.min" translate="entity.validation.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.max" translate="entity.validation.max" translate-value-max="10000000">
                    This field cannot be more than 10000000.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.plan.archive" for="field_archive">Archive</label>
            <input type="checkbox" class="form-control" name="archive" id="field_archive"
                    ng-model="plan.archive"
                    >

        </div>
        <div class="form-group">
            <label translate="windoctorApp.plan.creation_date" for="field_creation_date">Creation_date</label>
            <input type="datetime-local" class="form-control" name="creation_date" id="field_creation_date"
                    ng-model="plan.creation_date" ng-model-options="{timezone: 'UTC'}"
                    required>

            <div ng-show="editForm.creation_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.creation_date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.creation_date.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.plan.structure" for="field_structure">structure</label>
            
            <select class="form-control" id="field_structure" name="structure" ng-model="plan.structure" ng-options="structure as structure.id for structure in structures track by structure.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
