
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPatientLabel" translate="windoctorApp.patient.home.createOrEditLabel">Create or edit a Patient</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <label translate="windoctorApp.patient.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="patient.login"
                    required ng-minlength="1" ng-maxlength="50" ng-pattern="/^[a-z0-9]*$/">

            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[a-z0-9]*$">
                    This field should follow pattern "^[a-z0-9]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.patient.password" for="field_password">Password</label>
            <input type="password" class="form-control" name="password" id="field_password"
                    ng-model="patient.password"
                    required ng-minlength="8" ng-maxlength="20">

            <div ng-show="editForm.password.$invalid">
                <p class="help-block"
                    ng-show="editForm.password.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.password.$error.minlength" translate="entity.validation.minlength" translate-value-min="8">
                    This field is required to be at least 8 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.password.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.patient.firstName" for="field_firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="patient.firstName"
                    ng-maxlength="50">

            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.patient.lastName" for="field_lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="patient.lastName"
                    ng-maxlength="50">

            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.patient.email" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email"
                    ng-model="patient.email"
                    ng-maxlength="100" ng-minlength="5">

            <div ng-show="editForm.email.$dirty && editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.email" translate="global.messages.validate.email.invalid">
                    Your e-mail is invalid.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.minlength" translate="global.messages.validate.email.minlength">
                    Your e-mail is required to be at least 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setPicture($files, patient)" ngf-accept="'image/*'">
            <label translate="windoctorApp.patient.picture" for="field_picture">Picture</label>
            <div>
                <img data-ng-src="{{'data:image/*;base64,' + patient.picture}}" style="max-height: 100px;" ng-if="patient.picture"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{byteSize(patient.picture)}}</span>
                    <button ng-click="patient.picture=null"
                            ng-if="patient.picture"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setPicture($files, patient)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                   ng-model="patient.picture"
                   maxbytes="1000000">

            <div ng-show="editForm.picture.$invalid">
                <p class="help-block"
                   ng-show="editForm.picture.$error.maxbytes" translate="entity.validation.maxbytes" translate-value-max="1000000">
                    This field cannot be more than 1000000.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="windoctorApp.patient.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="patient.activated"
                    >

        </div>
        <div class="form-group">
            <label translate="windoctorApp.patient.blocked" for="field_blocked">Blocked</label>
            <input type="checkbox" class="form-control" name="blocked" id="field_blocked"
                    ng-model="patient.blocked"
                    >

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
