<nav class="navbar navbar-default " role="navigation" >
    <div class="container" >
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" ng-show="!isAuthenticated()"><span translate="global.title">WinDoctor</span> <span class="navbar-version">{{VERSION}}</span></a>
            <a class="navbar-brand" href="#/" ng-show="isAuthenticated()" ng-class="changeClass"><span>{{structureName()}}</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-default" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right" >
                <li ui-sref-active="active" id="nav-home" class="text-center"><a ui-sref="home" style="padding-bottom: 2px;padding-top: 2px;">
                    <i class="fa fa-home fa-2x text-center" ></i><br>
                    <span translate="global.menu.home">Home</span>
                </a>
                </li>
                <li ng-class="{active: $state.includes('calendar') || $state.includes('event') || $state.includes('event_reason')}"
                    has-role="ROLE_PATIENT" id="nav-calendar" ng-switch-when="true" class="text-center" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                    <i class="fa fa-calendar fa-2x text-center" style="color: palevioletred;"></i><br>
                    <span translate="global.menu.entities.calendar">Calendar</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" has-role="ROLE_PATIENT"><a ui-sref="calendar"><span class="fa fa-calendar fa-1x text-center" style="color: palevioletred;"></span>
                            &#xA0;<span translate="global.menu.entities.calendar">Calendar</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="event"><span class="fa fa-ban fa-1x text-center" style="color: black;"></span>
                            &#xA0;<span translate="global.menu.entities.blockOfDays">Block of days</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="event_reason"><span class="fa fa-align-left fa-1x" style="color: orangered;"></span>
                            &#xA0;<span translate="global.menu.entities.event_reason">Acts</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="categoryAct"><span class="fa fa-folder-open fa-1x text-center" style="color: maroon;"></span>
                            &#xA0;<span translate="global.menu.entities.categoryAct">Acts</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('product') || $state.includes('category')}"
                    id="nav-materials" ng-switch-when="true" has-role="ROLE_ASSISTANT" class="text-center">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                    <i class="fa fa-cubes fa-2x text-center" style="color: peru;"></i><br>
                        &#xA0;<span translate="global.menu.entities.internalManagement">Gestion interne</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="product"><span class="fa fa-cubes fa-1x text-center" style="color: peru;"></span>
                            &#xA0;<span translate="global.menu.entities.product">Materials</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="category"><span class="fa fa-folder-open fa-1x text-center" style="color: maroon;"></span>
                            &#xA0;<span translate="global.menu.entities.category">Categories of stock</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="charge"><span class="fa fa-cubes fa-1x text-center" style="color: #2d6987;"></span>
                            &#xA0;<span translate="global.menu.entities.charge">Materials</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="categoryCharge"><span class="fa fa-folder-open fa-1x text-center" style="color: maroon;"></span>
                            &#xA0;<span translate="global.menu.entities.categoryCharge">Categories of stock</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('fund') || $state.includes('supply_type')}"
                    id="nav-funds" ng-switch-when="true" has-role="ROLE_ASSISTANT" class="text-center">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-bank fa-2x text-center" style="color: forestgreen;"></i><br>
                        &#xA0;<span translate="global.menu.entities.fund">Funds</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="fund"><span class="fa fa-bank fa-1x text-center" style="color: green;"></span>
                            &#xA0;<span translate="global.menu.entities.fund">Funds</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="supply_type"><span class="fa fa-usd fa-1x text-center" style="color: black;"></span>
                            &#xA0;<span translate="global.menu.entities.supply_type">Supply</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('patient')}"
                    id="nav-users" ng-switch-when="true" has-role="ROLE_ASSISTANT" class="text-center">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-users fa-2x text-center" style="color: royalblue;"></i><br>
                        &#xA0;<span translate="global.menu.entities.users">Users</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="patient"><span class="fa fa-users fa-1x text-center" style="color: skyblue;"></span>
                            &#xA0;<span translate="global.menu.entities.patient">Patients</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('dashboard') || $state.includes('benefits')}"
                    id="nav-dashbord" has-role="ROLE_DOCTOR" ng-switch-when="true" class="text-center">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-bar-chart-o fa-2x text-center" style="background: linear-gradient(to bottom, red 20%,green 30%,#000000 20%,white 30%,white 100%);"></i><br>
                        &#xA0;<span translate="global.menu.entities.dashboard">Dashboard</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" has-role="ROLE_DOCTOR"><a ui-sref="dashboard"><span class="fa fa-line-chart fa-1x text-center" style="color: indianred;"></span>
                            &#xA0;<span translate="global.menu.entities.statistics">Statistics</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_DOCTOR"><a ui-sref="benefits"><span class="fa fa-money fa-1x text-center" style="color: darkgreen;"></span>
                            &#xA0;<span translate="global.menu.entities.benefits">Benefits</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active"  id="nav-entities" ng-switch-when="true" has-role="ROLE_ADMIN" class="text-center">
                    <a ui-sref-active="active" class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-th-list fa-2x text-center"></i><br>
                        &#xA0;<span translate="global.menu.entities.main">Entities</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="category"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.category">category</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="product"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.product">product</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="status"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.status">status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="event"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.event">event</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="event_reason"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.event_reason">event_reason</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="calendar"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.calendar">Calendar</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ADMIN"><a ui-sref="structure"><span class="glyphicon glyphicon-th-large"></span>
                        &#xA0;<span translate="global.menu.entities.structure">structure</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="patient"><span class="fa fa-users" style="color:#009900"></span>
                        &#xA0;<span translate="global.menu.entities.patient">patient</span></a></li>
                        <li ui-sref-active="active" has-role="ROLE_ASSISTANT"><a ui-sref="doctor"><span class="fa fa-user-md" style="color:#BC7A00"></span>
                            &#xA0;<span translate="global.menu.entities.doctor">doctor</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="treatment"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.treatment">treatment</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="attachment"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.attachment">attachment</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="dashboard"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.dashboard">dashboard</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="fund"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.fund">fund</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="fund_history"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.fund_history">fund_history</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="supply_type"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.supply_type">supply_type</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="purchase"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.purchase">purchase</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="consumption"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.consumption">consumption</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="categoryAct"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.categoryAct">categoryAct</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="categoryCharge"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.categoryCharge">categoryCharge</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="charge"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.charge">charge</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="entry"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.entry">entry</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="type_structure"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.type_structure">type_structure</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="plan"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.plan">plan</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="prescription"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.prescription">prescription</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="medication"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.medication">medication</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="prescription_medication"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.prescription_medication">prescription_medication</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="text-center" id="nav-account">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-user fa-2x text-center" ></i><br>
                        &#xA0;<span translate="global.menu.account.main">Account</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true" has-role="ROLE_ADMIN"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="true" has-role="ROLE_ADMIN"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-role="ROLE_ADMIN"  class="text-center" id="nav-admin">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="glyphicon glyphicon-tower fa-1x text-center" ></i><br>
                        &#xA0;<span translate="global.menu.admin.main">Admin</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-controller="LanguageController" class="text-center" id="nav-language">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-flag fa-2x text-center" ></i><br>
                        &#xA0;<span class="hidden-tablet" translate="global.menu.language">Language</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-switch-when="true" has-role="ROLE_ASSISTANT" ng-controller="EventRequestController"  class="text-center" id="nav-notifications">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                       style="padding-bottom: 2px;padding-top: 2px;">
                        <i class="fa fa-bell fa-2x text-center" >
                            <span class="badge badge-notify" ng-style="notificationCountColor()">{{eventsCount}}</span>
                        </i><br>
                    </a>

                        <ul class="dropdown-menu drop"  ng-click="$event.stopPropagation()" >

                            <div class="notification-heading"><h4 class="menu-title" translate="global.menu.notification.notifications">Notifications</h4><h4 class="menu-title pull-right"><i class="glyphicon"></i></h4>
                            </div>
                            <li class="divider"></li>
                            <div class="notifications-wrapper">
                                <ng-include src="'scripts/app/entities/event/event-request.html'"></ng-include>
                            </div>
                            <li class="divider"></li>
                            <div class="notification-footer"><h4 class="menu-title"><i class="glyphicon"></i></h4></div>
                        </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>
