<div ng-show="fund_historys && fund_historys.length>0" style="padding: 15px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 translate="windoctorApp.fund_history.fundHistoryName"  translate-values="{fundName: '{{selectedFund.description}}'}"
                class="panel-title">Fund_historys</h3>
        </div>
        <div class="panel-body">
            <jh-alert></jh-alert>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="windoctorApp.fund_history.creation_date">Creation date</th>
                        <th translate="windoctorApp.fund_history.created_by">User</th>
                        <th translate="windoctorApp.fund_history.old_amount">Old_amount</th>
                        <th translate="windoctorApp.fund_history.new_amount">New_amount</th>
                        <th translate="windoctorApp.fund_history.type_operation">Type_operation</th>
                        <th translate="windoctorApp.fund_history.amount_movement">Amount_movement</th>
                        <th translate="windoctorApp.fund_history.movementCause">Movement cause</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fund_history in fund_historys">
                        <td>{{fund_history.creation_date | date:'dd/MM/yyyy HH:mm:SS'}}</td>
                        <td>{{fund_history.created_by.firstName}} {{fund_history.created_by.lastName}}</td>
                        <td>{{fund_history.old_amount}}</td>
                        <td>{{fund_history.new_amount}}</td>
                        <td>
                            <span translate="windoctorApp.fund_history.credit"
                                  ng-show="fund_history.type_operation">Credit</span>
                            <span translate="windoctorApp.fund_history.debit"
                                  ng-show="!fund_history.type_operation">Debit</span>
                        </td>
                        <td>{{fund_history.amount_movement}}</td>
                        <td>
                            <a ng-click="displayTheMovementCause(fund_history)" ng-show="fund_history.treatment">
                                <span translate="windoctorApp.fund_history.treatment">Treatment</span>
                            </a>
                            <a ng-click="displayTheMovementCause(fund_history)" ng-show="fund_history.product">
                                <span translate="windoctorApp.fund_history.product">Product</span>
                            </a>
                            <a ng-click="displayTheMovementCause(fund_history)" ng-show="fund_history.charge">
                                <span translate="windoctorApp.fund_history.charge">Charge</span>
                            </a>
                            <a ng-click="displayTheMovementCause(fund_history)" ng-show="fund_history.supply_type">
                                <span translate="windoctorApp.fund_history.supply_type">Supply</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li ng-show="linksHistories['first']" ng-click="loadPageHistory(linksHistories['first'])"><a>
                            &lt;&lt;</a></li>
                        <li ng-show="linksHistories['prev']" ng-click="loadPageHistory(linksHistories['prev'])"><a>
                            &lt;</a></li>
                        <li ng-show="pageHistory > 2" ng-click="loadPageHistory(pageHistory - 2)"><a>{{pageHistory -
                            2}}</a></li>
                        <li ng-show="pageHistory > 1" ng-click="loadPageHistory(pageHistory - 1)"><a>{{pageHistory -
                            1}}</a></li>
                        <li class="active"><a>{{pageHistory}}</a></li>
                        <li ng-show="pageHistory < linksHistories['last']" ng-click="loadPageHistory(pageHistory + 1)">
                            <a>{{pageHistory + 1}}</a></li>
                        <li ng-show="pageHistory < linksHistories['last'] - 1"
                            ng-click="loadPageHistory(pageHistory + 2)"><a>{{pageHistory + 2}}</a></li>
                        <li ng-show="linksHistories['next']" ng-click="loadPageHistory(linksHistories['next'])"><a>
                            &gt;</a></li>
                        <li ng-show="linksHistories['last']" ng-click="loadPageHistory(linksHistories['last'])"><a>&gt;&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
