<div ng-show="fund_historys && fund_historys.length>0" style="padding: 15px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 translate="windoctorApp.fund_history.fundHistoryName"  translate-values="{fundName: '{{selectedFund.description}}'}"
                class="panel-title">Fund_historys</h3>
        </div>
        <div class="panel-body">
            <jh-alert></jh-alert>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.field.id">ID</th>
                        <th translate="windoctorApp.fund_history.old_amount">Old_amount</th>
                        <th translate="windoctorApp.fund_history.new_amount">New_amount</th>
                        <th translate="windoctorApp.fund_history.type_operation">Type_operation</th>
                        <th translate="windoctorApp.fund_history.amount_movement">Amount_movement</th>
                        <th translate="windoctorApp.fund_history.fund">fund</th>
                        <th translate="windoctorApp.fund_history.treatment">treatment</th>
                        <th translate="windoctorApp.fund_history.product">product</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fund_history in fund_historys">
                        <td><a ui-sref="fund_history.detail({id:fund_history.id})">{{fund_history.id}}</a></td>
                        <td>{{fund_history.old_amount}}</td>
                        <td>{{fund_history.new_amount}}</td>
                        <td>{{fund_history.type_operation}}</td>
                        <td>{{fund_history.amount_movement}}</td>
                        <td>
                            <a ui-sref="fund.detail({id:fund_history.fund.id})">{{fund_history.fund.description}}</a>
                        </td>
                        <td>
                            <a ui-sref="treatment.detail({id:fund_history.treatment.id})">{{fund_history.treatment.id}}</a>
                        </td>
                        <td>
                            <a ui-sref="product.detail({id:fund_history.product.id})">{{fund_history.product.name}}</a>
                        </td>
                        <td>
                            <button type="submit"
                                    ui-sref="fund_history.detail({id:fund_history.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                translate="entity.action.view"> View</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li ng-show="linksHistories['first']" ng-click="loadPageHistory(linksHistories['first'])"><a>
                            &lt;&lt;</a></li>
                        <li ng-show="linksHistories['prev']" ng-click="loadPageHistory(linksHistories['prev'])"><a>
                            &lt;</a></li>
                        <li ng-show="pageHistory > 2" ng-click="loadPageHistory(pageHistory - 2)"><a>{{pageHistory -
                            2}}</a></li>
                        <li ng-show="pageHistory > 1" ng-click="loadPageHistory(pageHistory - 1)"><a>{{pageHistory -
                            1}}</a></li>
                        <li class="active"><a>{{pageHistory}}</a></li>
                        <li ng-show="pageHistory < linksHistories['last']" ng-click="loadPageHistory(pageHistory + 1)">
                            <a>{{pageHistory + 1}}</a></li>
                        <li ng-show="pageHistory < linksHistories['last'] - 1"
                            ng-click="loadPageHistory(pageHistory + 2)"><a>{{pageHistory + 2}}</a></li>
                        <li ng-show="linksHistories['next']" ng-click="loadPageHistory(linksHistories['next'])"><a>
                            &gt;</a></li>
                        <li ng-show="linksHistories['last']" ng-click="loadPageHistory(linksHistories['last'])"><a>&gt;&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
